@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

h1 {
  margin-bottom: 40px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #00a86b;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-button.current-page {
  background-color: #008f5b;
}

.pagination-button:hover:not(:disabled) {
  background-color: #00955f;
}
